#logIn {
    @include flex;
    @include background('./assets/background-log-in-mini.webp', 0);

    h1 {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: $xl-fontSize;
    }

    h2 {
        font-size: $xl-fontSize;
    }

    .container {
        position: relative;
        width: clamp(300px, 50%, 500px);
        padding: $base-padding;
        border-radius: $border-radius;
        padding: $base-padding;
        padding-top: $base-padding * 2;
        background-color: $background;

        .social {
            position: absolute;
            top: -2.5rem;
            right: 0;
        }
    }

}