@mixin flex ($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin background ($url, $padding: 7) {
    min-height: 100vh;
    background-image: url($url);
    background-size: cover;
    background-position: center center;
    background-color: #000000cc;
    background-blend-mode: darken;
    padding-bottom: $base-padding;
    padding-top: $base-padding * $padding;
    color: $fontColor;
}