$primaryColor: #793ea5;
$secondaryColor: #fec400;

$background: #000000dd;

$fontColor: #ffffdd;
$secondFontColor: #fec400;

$sm-fontSize: 0.8rem;
$fontSize: 1rem;
$md-fontSize: $fontSize * 1.3;
$xl-fontSize: $fontSize * 1.7;
$xxl-fontSize: $fontSize * 4;

$border-radius: 20px;

$base-padding: 1rem;

$primaryFontFamily: "Montserrat";
$secondaryFontFamily: "Nunito Sans", sans-serif;
$thirdFontFamily: 'Caveat', cursive;

$danger: rgb(223, 69, 84);