@import './style/variables';
@import './style/mixins';
@import './style/components/layout/input/input';
@import './style/components/layout/button/button';
@import './style/components/LogIn/LogIn.scss';
@import './style/components/nav/nav.scss';
@import './style/components/modal/modal';
@import './style/components/logOut/logOut';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primaryFontFamily;
}

section {
  width: 100vw;
  height: 100vh;
  padding: $base-padding;
  @include background('./assets/hero-bg.webp');
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  color: $secondFontColor;
  margin: 1rem;
  text-shadow: 2px 2px 2px #222;
  font-family: $thirdFontFamily;
}

.error-message {
  text-align: center;
  color: $danger;
  font-style: italic;
}